::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
	background:rgb(26,26,28,0.9);
 border: solid 3px transparent;

}
::-webkit-scrollbar-thumb {
 background: rgb(209,132,122, 0.9);
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
html, body{
	font-family: 'Candara', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 1.3;
	width: 100%;
	height: 100%;
 	margin: 0;
	
}


li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
a.nav-href{
	
	color: #E7D3CC;
}
a.nav-href:hover{
	color: #D1847A;
	text-decoration: overline;
	line-height: 2;
}
h1{
	margin: 0;
}
table, tr, td{
	text-align: center;
	margin: 0;
	padding: 0;
}
.padB40{
	padding-bottom: 40px;
}
#welcome-section{
	background:
	linear-gradient(0deg, rgba(26,26,28, 0.5), rgba(151,117,105, 0.7)), 
	url("https://i.imgur.com/WeL7BGa.jpg");
	height: 100vh;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#nav-bar{
	background-color: rgb(26,26,28);
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-right: 20px;
    border-bottom: 3px solid #E7D3CC;
    border-bottom-style: double;
}

.nav-container{
	background-color: rgb(26,26,28,0.5);
}
.ul-class{
	position: relative;
	float: right;
}
.nav-link{
	margin: 0 30px;
	font-weight: 900;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
}

.float{
	text-align: right;
	float: left;
}

.outer-intro{
	position: absolute;
    right: 0;
    top: 35%;
  	width: 100%;
    color: #E7D3CC;
}
.inner-intro{
	text-align: center;
	
}
.nameborder{
	border: 5px double#E7D3CC;
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 0 95px;
}
h1.name{
	font-size: 90px;
	line-height: 1.2;
}
p.name{
	font-size: 40px;
    color: #1A1A1C;
    line-height: 1.5;
    font-style: italic;
    background: rgb(175,96,92,0.6);
    margin: 0;
}
#projects{
	background: linear-gradient(0deg, rgba(175,96,92, 0.5), rgba(175,96,92, 0.5)), url(https://i.imgur.com/Bc88F7W.png);
	height: auto;
}
.project-headline{
	font-size: 35px;
	margin: 0;
	color: rgb(26,26,28);
	background: rgb(175,96,92,0.2);
}
.width-separator1{
	max-width: 310px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 0 20px;
}
.width-separator2{
	max-width: 370px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 20px;
}
.circle{
	font-size: 40px;
    padding: 0 30px;
}
.underline-text{
	width: 200px;
	border: 1px solid #1A1A1C;
	margin-bottom: 20px;
}
.project-container{
	margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap: 30px;
}
.inner-pcontainer{
	background-color: rgb(26,26,28,0.8);
	border-radius: 5px;
	max-width: 350px;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 10px 20px;
}
.inner-pcontainer:hover .proj-image{
	-ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}
.proj-image{
	max-width: 345px;
	width: 100%;
    height: 180px;
    transition: .5s ease;
  	backface-visibility: hidden;
  	opacity: 1;
  	margin-top:3px;

}
.proj-text{
	margin: 10px 0;
	font-weight: 800px;
}
.middle-text{
	transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .middle-text {
  opacity: 1;
}

#contact{
	background: linear-gradient(0deg, rgba(26,26,28, 0.5), rgb(150,100,91, 0.7));
	height: 95vh;
	background-attachment: fixed;
	position: relative;
}
.contact-container{
	position: absolute;
	top: 50%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.contact-headline{
	margin: 0;
	text-align: center;
	font-size: 80px;
	color: rgb(26,26,28, 0.8);
}
.contact-desc{
	text-align: center;
	font-size: 24px;
    color: #D08379;
    line-height: 1;
    font-style: italic;
    margin: 0;
}

.contact-details{
	font-size: 18px;
	color: #ffffff;
}

.href-footer{
	color: #E7D3CC;
	padding: 0 15px;
}
#footer{
	background-color: rgb(26,26,28);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}
.contact-links{
	padding: 20px;
}
.footer-link{
	display: flex;
	float: left;
}
.copyright{
	padding: 0 30px;
	color: #000000;
	font-size: 16px;
}
.social-icon{
	float: left;
	width: 50px;
	height: auto;
}
.social-text{
	float: left;
	padding: 0 10px;
	font-weight: 800;
}
.social-container{
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    grid-template-columns: auto;
    grid-gap: 30px;
	padding: 20px;
}
a.social-links{
	color: #E7D3CC;
}
.contact-links:hover{
	color: #D1847A;
	position: relative;
	animation: mymove 0.3s;
  	animation-timing-function: ease-in-out;
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 10px;}
}

.resume{
	text-align: center;
	margin-bottom: 20px;
}
.btn {
    background-color: #E47770;
    border: none;
    border-radius: 5px;
    color: rgb(26,26,28);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover{
	background-color: rgb(26,26,28);
	color: #E47770;

}
.inner-box{
	padding: 30px 20px 50px;
    background: linear-gradient(0deg, rgba(150,100,91, 0.6),rgba(150,100,91, 0.5), rgba(209,132,122, 0.3)), url(https://i.imgur.com/WyJgEjE.png);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(209,132,122, 0.6);
}


@media screen and (max-width: 700px) {
#welcome-section{
background:
linear-gradient(0deg, rgba(26,26,28, 0.5), rgba(151,117,105, 0.7)), 
url("https://i.imgur.com/gKBt7uF.png");
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

}
.nav-container{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.outer-intro{
  	width: 100%;
}
h1.name{
	font-size: 60px;
	line-height: 1;
}
p.name{
	margin: 10px 0 0; 
}
#projects{
	height: auto;
}

.contact-headline{
	font-size: 55px;
}
.project-headline{
	font-size: 30px;
}
.underline-text {
    width: 140px;
}
.nav-link{
	margin: 0 10px;
}
.proj-image{
	width: 100%;
	height: auto;
}
.width-separator2{
	width: 100%;

}
.width-separator1{
	width: 100%;
	
}
.circle{
	padding: 0;
}
}